name: Pre Merge Checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  gradle:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [8, 11, 15]

    runs-on: ${{ matrix.os }}

    env:
      JDK_VERSION:  ${{ matrix.jdk }}
      GRADLE_OPTS: -Dorg.gradle.daemon=false

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Cache Gradle Folders
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: cache-gradle-${{ matrix.os }}-${{ matrix.jdk }}
          restore-keys: |
            cache-gradle-${{ matrix.os }}-${{ matrix.jdk }}
            cache-gradle-${{ matrix.os }}-
            cache-gradle-


      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.jdk }}


      - name: Build detekt-compiler-plugin
        run: ./gradlew -p plugin-build build --stacktrace


      - name: Run smoke test
        run: ./gradlew -p plugin-build testPluginKotlinc
        if: ${{ runner.os != 'Windows' }}


      - name: Run the compiler plugin
        run: ./gradlew compileKotlin
